{% extends "layout.html" %} {% block content %}
<h1>URL Shortener</h1>

<form method="post">
  <label for="original_url">Enter the URL to shorten:</label>
  <input type="text" name="original_url" id="original_url" required />

  <label for="custom_code">Custom Code (Optional):</label>
  <input type="text" name="custom_code" id="custom_code" />

  <!-- Video Origin field -->
  <label for="video_origin">Video Origin (Optional):</label>
  <input type="text" name="video_origin" id="video_origin" />

  <button type="submit">Shorten URL</button>
</form>

{% if short_url %}
<div class="result">
  <p>Your shortened URL:</p>
  <a href="{{ short_url }}">{{ short_url }}</a>
  <button class="copy-button" data-url="{{ short_url }}">Copy</button>
</div>
{% endif %} {% endblock %}
